body {
    font-family: 'Montserrat', sans-serif;
    color: grey;
   
    
}
h1 {
    text-align: center;
    font-size: 45px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

h3 {
    
    text-align: left ;
    font-size: 14px;
}
p {
    text-align: right;
    font-size: 14px;
}


ul {
    padding: 20px;
    display: inline-block;
}



li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}

img {
    width: 60px;
    height: 60px;

}

footer {
    text-align: left;
    color: limegreen;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}


a {
    color: grey;

}

a:hover {
    color: black;
}
.temp {
    position: relative;
    float: center;
}

.unit {
    position: relative;
    top: -10px;
    font-size: 20px;
    font-weight: bold;
}

button {
    border: 1px solid black;
}

.search-button {
    background: #cbeaed;
}
 button:hover {
     color: #4f8a8b;
     
 }

.container {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    width: 85%; 
    margin-top: 30px;
    border-radius: 5px;
}

.container-current {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
       
}

.forecast {
    display: inline-block;
    padding: 0px;   
    font-size: 15px;
    margin-bottom: 75px;
}

.list-group-item {
    background-color: transparent;
    margin-left: 53px;
    margin-right: 53px;
    border-style: none;
}





